<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- Log file locaation -->
      <param name="File" value="C:\Logs\log.txt" />
      <param name="AppendToFile" value="true" />
      <!-- Maximum size of a log file -->
      <maximumFileSize value="2MB" />
      <!--Maximum number of log file -->
      <maxSizeRollBackups value="8" />
      <!--Set rolling style of log file -->
      <param name="RollingStyle" value="Composite" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value=".yyyy-MM-dd.lo\g" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p  %m%n" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
